<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".PesananUbahActivity"
            android:exported="false"
            android:parentActivityName=".PesananDataActivity"/>
        <activity
            android:name=".PesananDataActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PesananTambahActivity"
            android:parentActivityName=".ABCPesan"
            android:exported="false" />
        <activity
            android:name=".ABCPesan"
            android:parentActivityName=".ABPesan"
            android:exported="false" />
        <activity
            android:name=".ABPesan"
            android:parentActivityName=".APesan"
            android:exported="false" />
        <activity
            android:name=".APesan"
            android:parentActivityName=".BajuDataActivity"
            android:exported="false" />
        <activity
            android:name=".BajuUbahActivity"
            android:parentActivityName=".BajuDataActivity"
            android:exported="false" />
        <activity
            android:name=".BajuTambahActivity"
            android:parentActivityName=".BajuDataActivity"
            android:exported="false" />
        <activity
            android:name=".BajuDataActivity"
            android:exported="false" />
        <activity
            android:name=".DesainUbahActivity"
            android:parentActivityName=".DesainDataActivity"
            android:exported="false" />
        <activity
            android:name=".DesainTambahActivity"
            android:parentActivityName=".DesainDataActivity"
            android:exported="false" />
        <activity
            android:name=".DesainDataActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".KainTambahActivity"
            android:parentActivityName=".KainDataActivity"
            android:exported="false" />
        <activity
            android:name=".KainUbahActivity"
            android:parentActivityName=".KainDataActivity"
            android:exported="false" />
        <activity
            android:name=".KainDataActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".UserUbahActivity"
            android:parentActivityName=".UserDataActivity"
            android:exported="false" />
        <activity
            android:name=".UserTambahActivity"
            android:parentActivityName=".UserDataActivity"
            android:exported="false" />
        <activity
            android:name=".UserDataActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>